<div>
  <%= flash[:notice] %>
</div>
<main>
  <p class="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'users/list', book:@book %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= image_tag @book.user.get_profile_image(80,80) %><br>
                <%= link_to books_path(current_user.id) do %>
                  <p><%= @book.user.name %></p>
                <%end%>
              </td>
              <td><%= link_to book_path(@book.id) do %><%= @book.title %><%end%></td>
              <td><%= @book.body %></td>
              <% if @book.user == current_user %>
                <td><%= link_to "Edit", edit_book_path, class:"btn btn-sm btn-success"%></td>
                <td><%= link_to "Destroy", book_path(params[:id]), method: :delete, class:"btn btn-sm btn-danger" %></td>
              <%else%>
                <td></td>
                <td></td>
              <%end%>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>